.screenshot-bureau {
	width: auto;
	height: auto;
}

.displaySelector h1 {
	font-size: 5em;
}

.menu-bar {
	bottom: 0;
	position: fixed;
}

.menu-input {
	margin: 1em 1em 1em 1em;
	width: 50px;
}

.keyboard-input {
	width: 70%;
	position: fixed;
	margin-bottom: 1rem;
}
