<mat-dialog-content>
     <div (click)="getClickPosition($event)" >
          <img [src]="blobData"
          class="screenshot-bureau"
          alt="Screenshot du bureau récupérée en quasi temps-réel"
          *ngIf="!isImageLoading; else noImageFound">
     </div>
</mat-dialog-content>

<mat-form-field class="example-full-width">
     <input matInput [(ngModel)]="keyboardInputValue">
     <button mat-button *ngIf="keyboardInputValue" matSuffix mat-icon-button aria-label="Clear" (click)="keyboardInputValue=''">
          x
     </button>
</mat-form-field>