<div style="margin-bottom: 5em">
	<mat-dialog-content>
		<app-desktop-stream></app-desktop-stream>
	</mat-dialog-content>
	<div></div>
</div>
<div class="menu-bar" *ngIf="!resize">
	<img src="../../../assets/keyboard-svgrepo-com.svg" class="menu-input" (click)="toggleKeyboard()" />
	<mat-form-field
		*ngIf="this.displayKeyboard"
		class="menu-bar keyboard-input"
		style="background-color: hsla(0, 0%, 100%, 0.384); border: black 1px solid"
	>
		<input matInput [(ngModel)]="keyboardInputValue" />
		<button
			mat-button
			*ngIf="keyboardInputValue"
			matSuffix
			mat-icon-button
			aria-label="Clear"
			(click)="keyboardInputValue = ''"
		>
			x
		</button>
	</mat-form-field>
</div>
