.screenshot-bureau {
    width: auto;
    height: auto;
}

.verticalContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

.displaySelector h1 { 
    font-size: 5em 
}

.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }