<app-header [parentModel]="model"></app-header>

<div class="flex-column workout-title">
    <!--<h1 (click)="pickSessionDate()" class="flex-column add-session">
        <span>{{this.myWorkout | titlecase}}</span>
        <span class="add-symbol">+</span>
    </h1>-->
    <h1 class="flex-row workout-manage">
        <span (click)="deleteCurrentSession()">{{CONSTANTS.CROSS_MARK}}</span>
        <span>{{this.myWorkout | titlecase}}</span>
        <span (click)="pickSessionDate()">{{CONSTANTS.PLUS_MARK}}</span>
    </h1>
    <div class="flex-row">
        <button mat-raised-button style="padding: 0 1rem;" (click)="openSessionHistory()" *ngIf="this.allSessions.length > 0">Mes dernières séances</button>
    </div>
</div>

<hr class="separator">

<mat-accordion multi>
        <div class="flex-row date-container">
            <div (click)="switchSession(-1)" (disabled)="isSessionIndexExisting(-1)" [style.opacity]="isSessionIndexExisting(-1) ? 1 : 0.2"> &#10094; </div>
            <div class="flex-column session-date">
                <div class="flex-column workout-date" *ngIf="this.allSessions[this.currentSessionIndex]; else noSessionToday"> 
                    Séance du {{this.allSessions[this.currentSessionIndex]?.timestamp | date:'dd MMM. yyyy'}}
                    <span>Tonnage : {{this.allSessions[this.currentSessionIndex]?.totalLifted}} kg</span>
                </div>
                <ng-template #noSessionToday>Pas de séance</ng-template>
            </div>
            <div (click)="switchSession(1)" (disabled)="isSessionIndexExisting(1)" [style.opacity]="isSessionIndexExisting(1) ? 1 : 0.2"> &#10095; </div>
        </div>
    <div *ngIf="this.allSessions[this.currentSessionIndex]">
        <form [formGroup]="workoutForm" class="exercises-container flex-column">

            <div formArrayName="exercisesForms">
                <!-- NgFor sur les exercices : -->
                <div *ngFor="let exercice of getExerciseForms().controls; let exerciceIndex=index">
                    <mat-expansion-panel [expanded]="getExerciseSeries(exerciceIndex).length > 1" hideToggle>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                {{this.allSessions[this.currentSessionIndex].workout.exercises[exerciceIndex]?.name}}
                            </mat-panel-title>
                            <span class="delete-exo-button" 
                                (click)="deleteExercise(this.allSessions[this.currentSessionIndex].workout.exercises[exerciceIndex].name)"> 
                                {{CONSTANTS.CROSS_MARK}} 
                            </span>
                        </mat-expansion-panel-header>
                        
                        <div [formGroupName]="exerciceIndex">
                            <div formArrayName="serieForm">
                                <!-- Les champs de la série -->
                                <div *ngFor="let champsSerie of getExerciseSeries(exerciceIndex).controls; let serieIndex=index">
                                    <div [formGroupName]="serieIndex"  class="flex-row exercise-set">

                                        <mat-form-field [floatLabel]="floatLabelControl.value">
                                            <input type="number" 
                                                [ngStyle]="{'opacity': isPrefilled(exerciceIndex, serieIndex) ? '0.5' : '1' }" 
                                                matInput placeholder="Répétitions" 
                                                formControlName="repetitionCtrl"
                                            >
                                        </mat-form-field>
                                        
                                        <mat-form-field [floatLabel]="floatLabelControl.value">
                                            <input type="number" 
                                                [ngStyle]="{'opacity': isPrefilled(exerciceIndex, serieIndex) ? '0.5' : '1' }" 
                                                matInput placeholder="Charge" 
                                                formControlName="weightCtrl"
                                            >
                                        </mat-form-field>
                                        
                                        <button mat-mini-fab 
                                                class="submit-exercise-set" 
                                                *ngIf="!isSerieEmpty(exerciceIndex, serieIndex)" 
                                                (click)="submitSerie(exerciceIndex, serieIndex)" >
                                                {{CONSTANTS.CHECK_MARK}}
                                        </button>
                                        <button mat-mini-fab 
                                                class="delete-exercise-set" 
                                                *ngIf="!isSerieEmpty(exerciceIndex, serieIndex) && !isPrefilled(exerciceIndex, serieIndex)" 
                                                (click)="deleteSerie(exerciceIndex, serieIndex)" >
                                                {{CONSTANTS.CROSS_MARK}}
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </mat-expansion-panel>
                </div>
            </div>
        </form>
        <textarea
            class="session-commentary" 
            placeholder="Commentaire sur la séance" 
            cols="30" rows="3" 
            [(ngModel)]="sessionCommentary" 
            (ngModelChange)="textaeraChanged($event)">
        </textarea>
    </div>
</mat-accordion>


<div *ngIf="this.allSessions[this.currentSessionIndex]" class="flex-row">
    <button mat-mini-fab class="add-button" (click)="addExercise()">+</button>
</div>