@import '../../styles.scss';

.mat-expansion-panel, .mat-accordion>.mat-expansion-panel-spacing:last-child, 
.mat-accordion>*:last-child:not(.mat-expansion-panel) 
.mat-expansion-panel-spacing {
    border: 1px solid rgba($text, 0.3);    
    background-color: $background-panel;
    margin: 2px 2px 5px 2px;
}

mat-panel-title {
    color: white;
}

.mat-input-element {
    color: white;
}

.mat-expansion-panel:not(.mat-expanded):not([aria-disabled=true]) .mat-expansion-panel-header:hover{
    background: $background-panel;
}

.workout-title {
    align-items: center;
    font-weight: 300;
    margin-bottom: 1rem;
    margin-top: 1.5rem;
}

.workout-date {
    align-items: center;
    font-weight: 500;
}

.date-container {
    justify-content: space-evenly;
    align-items: center;
    font-weight: 100;
    margin: 1rem;    
}

.session-date {
    align-items: center;
}

.exercises-container, .session-commentary {
    padding: 1vh;
    align-items: center;
}

div[formarrayname="exercisesForms"] {
    width: 100%;
}

.exercise-set {
    justify-content: flex-start;
    
    mat-form-field {
        padding-right: 5%;
        width: 35%;
    }

    .submit-exercise-set {
        margin-left: 0.5rem;
        background-color: $button-valid;
        font-weight: 600;
        color: white;
        border: 1px solid $valid-darker;
    }

    .delete-exercise-set {
        margin-left: 0.5rem;
        background-color: $pink;
        color: white;
        font-weight: 400;
        border: 1px solid $pink-darker;
    }
}

.delete-exo-button {
    opacity: 0.7;
}

.session-commentary {
    width: 90%;
    margin: 5% 5% 0% 5%;
    color: white;
    background: repeating-linear-gradient(45deg, #00000080, transparent 10px);
    border-radius: 4px;
}

.add-session {
    max-width: 60%;
    max-height: 4rem;
    position: relative;
    align-items: center;
    padding: 0.75rem 2rem;
    border: 1px solid rgba($text, 0.6);
    border-radius: 1rem;
    background: rgba($text, 0.15);
    
    :nth-child(1) {
        width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
        text-align: center;
    }
}

.add-session:active {
    background: rgba($text, 0.3);
}

.add-symbol {
    position: absolute;
    font-size: 1.5rem;
    padding-left: 0.6rem;
    padding-right: 0.6rem;
    top: -15%;
    left: 87%;
    border: 1px solid $text;
    background-color: $background;
    border-radius: 100%;
}
