.mat-expansion-panel, .mat-accordion>.mat-expansion-panel-spacing:last-child, 
.mat-accordion>*:last-child:not(.mat-expansion-panel) 
.mat-expansion-panel-spacing {
    border: 1px solid rgba(0, 0, 0, 0.5);    
    margin: 2px 2px 5px 2px;
}

.workout-title {
    align-items: center;
    font-weight: 300;
    margin-bottom: 1rem;
}

.workout-date {
    align-items: center;
    font-weight: 500;
}

.date-container {
    justify-content: space-evenly;
    align-items: center;
    font-weight: 100;
    margin: 1rem;    
}

.exercise-set {
    justify-content: flex-start;
    
    mat-form-field {
        padding-right: 5%;
        width: 35%;
    }

    .submit-exercise-set {
        background-color: rgb(0, 102, 255);
        font-weight: 600;
        color: white;
        margin-left: 0.5rem;
    }
}

.submit-exercise-add {
    align-items: center;
    background-color: rgb(219, 124, 124);
    font-size: 1.5rem;
    color: white;
    margin: 1rem;
}

.delete-exo-button {
    opacity: 0.7;
}

.delete-exercise-set {
    background-color: #f79b9b;
    margin-left: 0.5rem;
}