<div class="flex-column">
    <div class="flex-row weight-container">
        <div class="flex-column weight" *ngFor="let weight of this.allWeights">
            <div class="flex-column" (click)="editWeight(weight)">
                <span>{{weight.totalWeight}} kg<span> ({{getBodyFatPercentage(weight.totalWeight, weight.fatWeight)}}%)</span></span>
                <span>{{displayDate(weight.date)}}</span>
            </div>
        </div>
    </div>
    
    <div class="flex-row">
        <button mat-flat-button class="add-weight" (click)="addWeight()">
            Ajouter
        </button>
    </div>
    
</div>
<div class="chart-container">
    <canvas  id="MyChart" >{{ chart }}z</canvas>
</div>