<div class="flex-column">
    <span>{{this.question}}</span>
    <hr class="separator" style="margin-bottom: 1rem;">
        
    <div *ngIf="this.inputRequested" class="flex-column">
        <mat-form-field floatLabel="Séance">
            <input matInput [(ngModel)]="inputValue" placeholder="{{this.question}}">
        </mat-form-field>
        <button mat-raised-button [disabled]="!inputValue" (click)="inputSelected()">Ajouter</button>
    </div>

    <div *ngIf="this.choices" class="flex-column choice-buttons">
        <button *ngFor="let choice of this.choices; let i = index" [ngStyle]="{'background-color': this.colors[i]}" mat-raised-button (click)="choiceSelected(choice)">{{choice}}</button>
    </div>

</div>