<div class="flex-column">
    <span>{{this.question}}</span>
    <hr class="separator">
        
    <div *ngIf="this.inputRequested" class="flex-column">
        <mat-form-field floatLabel="Séance">
            <input matInput [(ngModel)]="inputValue" maxLength="30" placeholder="{{this.question}}">
        </mat-form-field>
        <button mat-raised-button [disabled]="!inputValue" (click)="inputSelected()">Valider</button>
    </div>

    <div *ngIf="this.choices" class="flex-column choice-buttons">
        <button mat-raised-button 
            *ngFor="let choice of this.choices; let i = index" 
            [ngStyle]="{'background-color': this.colors[i]}" 
            (click)="choiceSelected(choice)">
            {{choice}}
        </button>
    </div>

</div>