.remote-container {
  flex-wrap: wrap;
  user-select: none;
  user-zoom: none;
}

.tuile_1x1{
  border-radius: 17px 17px 17px 17px;
  margin: 0.5px;
  height: 33vw;
  width: 33vw;
  max-height: 100px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.tuile_2x1{
  border-radius: 17px 17px 17px 17px;
  height: 33vw;
  width: 66vw;
  max-height: 100px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.tuile_3x1{
  border-radius: 17px 17px 17px 17px;
  height: 33vw;
  width: 100vw;
  max-height: 100px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.material-icons{
  opacity: 95%;
}

.disabled-tile {
  opacity: 50%;
  background-color:powderblue;
}