.titre-telecommande{
  font-family: Roboto; 
  font-weight: 100;
  text-align: center;
  color: white;
}

.remote-container {
  flex-wrap: wrap;
  user-select: none;
}

.tuile_1x1{
  border-radius: 17px 17px 17px 17px;
  margin: 0.5px;
  height: 33%;
  width: 33%;
  max-height: 100px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.tuile_2x1{
  border-radius: 17px 17px 17px 17px;
  height: 33%;
  width: 66%;
  max-height: 100px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.material-icons{
  opacity: 95%;
}
