<div class="titre-telecommande">
  <h1>Télécommande</h1>
</div>
<mat-grid-list cols="3" rowHeight="100px">

    <mat-grid-tile
        [colspan]="1"
        [rowspan]="1"
        style='background-color:lightpink'
        class="material-icons"
        (click)="actionShutdown()">
        <h1 *ngIf='this.shutdownCountdown == undefined; else elseShutdownActif'>power_settings_new</h1>
    </mat-grid-tile>

    <mat-grid-tile
        [colspan]="2"
        [rowspan]="1"
        style='background-color:lightblue'
        class="material-icons">
        <h1>volume_up</h1>  
        <app-slider-volume></app-slider-volume>
    </mat-grid-tile>

    <mat-grid-tile
    [colspan]="1"
    [rowspan]="1"
    style='background-color:aliceblue'
    class="material-icons"
    (click)="bureau()">
    </mat-grid-tile>

  </mat-grid-list>

<br>
<app-popup-image-bureau></app-popup-image-bureau>

