@import '../../styles.scss';

.workouts {
  flex-wrap: wrap;

  .workout {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 19vh;
    height: 19vh;
    color: whitesmoke;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin: 1px;
    background: radial-gradient(#97d6ff70, transparent);
    border: 1px solid rgb(255 255 255);
    transition: transform 0.2s;

    .next-session {
      color: $orange;
      font-size: 0.6rem;
      font-weight: 300;
    }
  }

  .workout:active {
    transform: perspective(50vh) translateZ(-5vh);
  }

  .workout:hover {
    filter: brightness(120%);
  }
}

#tabGroup {
  height: 100%;
}

.logout {
  display: flex;
  justify-content: space-around;
  margin: 1rem;
}

.program-actions {

  .delete-program {
    color: $pink;
    font-weight: 700;
    margin: 0.5rem;

    ::after ::content {
      content: ' Suppr.';
    }
  }
}


.actions-deployed {
  height: 100%;
  background: red;
}

.actions-minimized {
  height: 100%;
  //animation: fadeInMenu 1s;
  transition: heigth 0.5s;
  background: blue;
}

.workout-container {
  align-items: center;
}

.program-actions {
  margin-top: 1vh;
  justify-content: space-around;
  align-items: unset;

  .program-action {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5vh;
    width: 15vh;
    margin: 0 0.5vh;
    background-color: rgba(255, 255, 255, 0.25);
  }
}

