@import '../../styles.scss';

.workouts {
  flex-wrap: wrap;

  .workout {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 19vh;
    height: 19vh;
    color: whitesmoke;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin: 1px;
    background: radial-gradient(#97d6ff70, transparent);
    border: 1px solid rgb(255 255 255);
    transition: transform 0.2s;

    .next-session {
      color: $orange;
      font-size: 0.6rem;
      font-weight: 300;
    }

    :nth-child(1) {
      width: 90%;
      max-height: 50%;
      overflow: hidden;
      text-overflow: ellipsis;
      text-align: center;
    }
  }

  .workout:active {
    transform: perspective(50vh) translateZ(-5vh);
  }

  .workout:hover {
    filter: brightness(120%);
  }
}

#tabGroup {
  height: 100%;
}

.logout {
  display: flex;
  justify-content: space-around;
  margin: 1rem;
}

.workout-container {
  align-items: center;
}

.program-actions {
  margin: 1vh 0;
  justify-content: space-around;
  align-items: unset;

  .program-action {
    font-size: 0.7rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4vh;
    width: 12vh;
    margin: 0 0.5vh;
    background-color: rgba(255, 255, 255, 0.25);
  }

  .default-program-check {
    font-size: 1rem;
    color: greenyellow;
    margin-right: 0.5rem;
  }
}


.poids {
  overflow: hidden;
  transition: height 0.3s ease-in-out, opacity 0.3s ease-in-out;
}


.poids-btn {
  
}

#chevron {
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
}

#chevron.up {
  border-bottom: 8px solid black;
}

#chevron.down {
  border-top: 8px solid black;
}

