<app-header [parentModel]="model"></app-header>
<mat-tab-group mat-align-tabs="center" 
    [selectedIndex]="selectedProgramIndex"
    (selectedTabChange)="selectedProgramChanged($event)" #tabGroup>
    <mat-tab>
        <ng-template mat-tab-label>
            <div class="add-program" (click)='addProgram()'>+</div>
        </ng-template>
    </mat-tab>
    <mat-tab *ngFor='let program of programList; let i = index;' label="{{program.programName}}">
        
        <app-timeline [program]="program" (goToSession)="goToExerciseOnDateSession($event)" (nextSessionSuggestion)="setNextSessionSuggestion($event)"></app-timeline>

        <div class="flex-column workout-container">
            <div class="flex-row workouts">
                <div class="flex-column workout" *ngFor='let element of program.workoutNames' (click)="goToExercise(element)">
                    <div>{{element}}</div>
                    <span class="next-session" *ngIf="nextSessionSuggestion === element">Prochaine séance</span>
                </div>
            </div>
            
            <button mat-mini-fab class="add-button" (click)="addOrDeleteWorkoutFromProgram(program.id)">+</button>
            <div class="flex-row program-actions">
                <div class="program-action" (click)="renameProgram(program)">Renommer</div>
                <div class="program-action" (click)="deleteProgram(program)">Supprimer</div>
            </div>
        </div>
    </mat-tab>
</mat-tab-group>