<app-header [parentModel]="model"></app-header>

<div class="flex-column container">

  <div class="flex-column login-container">
    <h2>Se connecter</h2>
    <form class="flex-column" #loginForm='ngForm' (ngSubmit)='onLogin(loginForm)'>
      
      <mat-form-field>
        <input matInput type="text" placeholder="Adresse mail" [(ngModel)]="email" name="email" class="input-txt" required>
      </mat-form-field>
      <mat-form-field>
        <input matInput type="password" placeholder="Mot de passe" (ngModel)="password" name="password" class="input-txt" required>
      </mat-form-field>
      <button type="submit" [disabled]="!loginForm.valid" class="auth-btn">Se connecter</button>
    </form>
  </div>
  <div (click)="openResetPasswordDialog()">Mot de passe oublié ?</div>

  <hr class="separator">

  <div class="flex-column signup-container">
    <h2>Créer un compte</h2>
    <form  class="flex-column" #signupForm='ngForm' (ngSubmit)="onSignup(signupForm)">
      <mat-form-field>
        <input matInput type="text" placeholder="Adresse mail" (ngModel)="emailToCreate" name="emailToCreate" class="input-txt" required>
      </mat-form-field>
      <mat-form-field>
        <input matInput type="password" placeholder="Mot de passe" (ngModel)="passwordToCreate" name="passwordToCreate" class="input-txt" required>
      </mat-form-field>
      <button type="submit" [disabled]="!signupForm.valid" class="auth-btn">Créer un compte</button>
    </form>
  </div>
  <hr class="separator">

  <div>
    {{version}}
  </div>
</div>


