.login-title {
    font-size: 3rem;
    margin: 3rem 1rem;
}

.login-container, .signup-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3rem 3rem;
}

.container {
    justify-content: center;
    align-items: center;
}