<app-header [parentModel]="model"></app-header>

<div class="flex-column container">

  <div class="flex-column login-container">
    <h2>Se connecter</h2>
    <form class="flex-column" #loginForm='ngForm' (ngSubmit)='onLogin(loginForm)'>
      
      <app-input-component 
        [(ngModel)]="email" 
        name="email"
        inputType="text"
        placeholder="Adresse mail"></app-input-component>
      <app-input-component 
        [(ngModel)]="password" 
        name="password"
        inputType="password"
        placeholder="Mot de passe"></app-input-component>
      <button type="submit" [disabled]="!loginForm.valid" class="auth-btn">Se connecter</button>
    </form>
  </div>
  <div (click)="openResetPasswordDialog()">Mot de passe oublié ?</div>

  <hr class="separator">

  <div class="flex-column signup-container">
    <h2>Créer un compte</h2>
    <form  class="flex-column" #signupForm='ngForm' (ngSubmit)="onSignup(signupForm)">
      <app-input-component 
        [(ngModel)]="emailToCreate" 
        name="emailToCreate"
        inputType="text"
        placeholder="Adresse mail"></app-input-component>
      <app-input-component 
        [(ngModel)]="passwordToCreate" 
        name="passwordToCreate"
        inputType="password"
        placeholder="Mot de passe"></app-input-component>
      <button type="submit" [disabled]="!signupForm.valid" class="auth-btn">Créer un compte</button>
    </form>
  </div>
  <hr class="separator">

  <div>
    {{version}}
  </div>
</div>


