.youtube {
    background-image: url("/assets/youtube.png");
    background-repeat: no-repeat;
    background-size: 46px 32px;
    background-position-x: center;
    background-position-y: center;
  }