@import '../../../../styles.scss';

.flex-wrap {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    row-gap: 1rem;

    .exercise {
        width: 40%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        background: #8b91ff21;
        border-left: 2px solid $orange;
        border-radius: 5px;
        padding: 3px;        
    }
}

.header-history-details {
    display: flex;
    flex-direction: row;
    justify-content: space-between;        
}

.session-date {
    border-bottom: 1px solid rgb(103, 212, 255, 0.25);
    border-width: 150%;
    color: $orange;
    margin: 1rem 0 1rem 0;
    padding-bottom: 1rem;
    font-size: 1.25rem;
    text-align: center;
}

.infos-generale {
    justify-content: space-evenly;
}

.commentary {
    font-size: 0.75rem;
    font-style: italic;
    padding: 0 1rem;
    margin-bottom: 0.5rem;
    text-align: center;
}

.exercise-title {
    padding-bottom: 0.25rem;
    color: $blue-ligher
}