
:root{

}
body {

	--bouttonWidth = 65;
	--bouttonHeight = 55;
 margin:0;
 padding:20px;
 font-family:"Helvetica Neue",Helvetica,Arial,Geneva,sans-serif
}
.container {
 width:500px;
 margin:0 auto
}
#Joystick{
 position:relative;
 width:50px;
 height: 50px;
 top: 35px;
 margin: auto
}


#remote-control {
 position:relative;
 background:url(remote-back2.jpg) no-repeat;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain; 
 height:550px
}
#remote-control h2,#remote-control span {
 position:absolute;
 left:-5000px
}
#remote-control ul {
 margin:0;
 padding:0;
 list-style-type:none
}
#home a,#sitemap a,#buttonPlus a,#buttonYoutube a,#buttonLeftClick a,#buttonMoins a,#buttonRightClick a,#buttonTwitch a {
 position:absolute;
 display:block
}
.bouton{
    position:absolute;
    display:block
}
#remote-control li#home a {
 left:33px;
 top:29px;
 width:50px;
 height:50px;
 background:url(remote-home.jpg) no-repeat
}
#remote-control li#home a:hover {
 background-image:url(remote-home.jpg);
 background-repeat:no-repeat;
 background-position:0 -52px
}
#remote-control li#sitemap a {
 left:154px;
 top:29px;
 width:37px;
 height:37px;
 background:url(remote-sitemap.jpg) no-repeat
}
#remote-control li#sitemap a:hover {
 background-image:url(remote-sitemap.jpg);
 background-repeat:no-repeat;
 background-position:0 -36px
}


#boutonPlus {
	left:33px;
	top:150px;
	height:65px;
 	width:75px;
}
#boutonMoins {
	left:33px;
	top:215px;
	height:65px;
 	width:75px;
}
#boutonPower{
	left:33px;
	top:29px;
	height:65px;
 	width:75px;
}
.bouton:hover {
 filter: brightness(115%);
        -webkit-filter: brightness(115%);
        -moz-filter: brightness(115%);
        -o-filter: brightness(115%);
        -ms-filter: brightness(115%);
        -webkit-transition: all 0.30s;
        transition: all 0.10s;
       }
.bouton:active {
	transform: translateY(10px);
}


#boutonLeftClick {
	left:33px;
	top:330px;
	width:75px;
	height:65px;
}
#boutonMiddleUpClick {
	left:140px;
	top:300px;
	width:75px;
	height:65px;
}
#boutonMiddleDownClick {
	left:140px;
	top:365px;
	width:75px;
	height:65px;
}
#boutonRightClick {
	left:250px;
	top:330px;
	width:75px;
	height:65px;
}


#boutonHeadset {
	left:33px;
	top:450px;
	width:75px;
	height:65px;
}
#boutonKeyboard {
    left:280px;
    top:29px;
    width:75px;
    height:65px;
}
#buttonJoystick {
    left:200px;
    top:29px;
    width:75px;
    height:65px;
}

#boutonTestClipBoard {
    left:200px;
    top:450px;
    width:75px;
    height:65px;
}


#remote-control li#buttonYoutube a {
 width:55px;
 height:55px;
 background:url(youtube.jpg) no-repeat
}
#remote-control li#buttonYoutube a {
 left:130px;
 top:114px
}




#remote-control li#buttonRightClick a {
 width:55px;
 height:55px;
 background:url(rightclick.jpg) no-repeat
}
#remote-control li#buttonRightClick a {
 left:130px;
 top:294px
}


#remote-control li#buttonTwitch a {
 width:55px;
 height:55px;
 background:url(twitch.jpg) no-repeat
}
#remote-control li#buttonTwitch a {
 left:130px;
 top:174px
}




#divPopup { align-items: center; display: none; height: 100%; justify-content: center; left: 0; position: fixed; top: 0; width: 100%; z-index: 100; }
#divPopupFond { background-color: #001a33; display: none; height: 100%; left: 0; opacity: 0.8; position: fixed; top: 0; width: 100%; z-index: 100; }
#divPopupContenu { background-color: #fff; min-height: 200px; padding: 20px; width: 500px; z-index: 101;  }
#divPopupContenu label { font-size: 0.8em; }
#divPopupContenu .row { padding-bottom: 7px; }
#divPopupContenu .divBoutonAction { display: flex; justify-content: center; }
#divPopupContenu .divBoutonAction span { margin: 12px; }

.boutonPower {
    height: 50px;
    width: 120px;
}